@{
    Layout = "_AuthLayout";
}
@section CSS {
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('assets/img/blog/17.jpg');
        }

        .cover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(117, 54, 230, .1);
        }

        .login-content {
            max-width: 400px;
            margin: 100px auto 50px;
        }

        .auth-head-icon {
            position: relative;
            height: 60px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            background-color: #fff;
            color: #5c6bc0;
            box-shadow: 0 5px 20px #d6dee4;
            border-radius: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
    </style>
}

@model Blog.Areas.Admin.ViewModels.Account.ResetPasswordViewModel

<form class="ibox-body pt-0" id="reset-form" asp-action="resetpassword" method="POST">
    <h4 class="font-strong text-center mb-4">RESET PASSWORD</h4>
    <p class="mb-4">You have requested a new password. If you didn't request a new password, you can ignore this page.</p>
    <div class="form-group mb-4">
        <input asp-for="Password" class="form-control form-control-line" placeholder="New Password">
    </div>
    <div class="form-group mb-4">
        <input asp-for="ConfirmPassword" class="form-control form-control-line" placeholder="Confirm Password">
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-rounded btn-block btn-air">SUBMIT</button>
    </div>
</form>

@section JS {
    <script src="~/assets/js/page/resetpassword.js"></script>
}