@model IReadOnlyList<PageViewModel>

<div class="ibox">
    <div class="ibox-body">
        <h5 class="font-strong mb-4"></h5>
        <div class="flexbox mb-4">
            <div class="flexbox">
                <span class="mr-4 static-badge badge-pink"><i class="la la-pencil"></i></span>
                <div>
                    <h5 class="font-strong">Category</h5>
                    <div class="text-light">Found <!--Model.Count()--> Pages</div>
                </div>
                <div class="ml-4">
                    <a asp-action="Create" class="btn btn-success">Add Page</a>
                </div>
            </div>
            <div class="input-group-icon input-group-icon-left mr-3">
                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="pageListDT">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>Page Name</th>
                        <th>Page Title</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/assets/js/Module/page.js"></script>
}