@model IReadOnlyList<PageViewModel>

<div class="ibox">
    <div class="ibox-body">
        <h5 class="font-strong mb-4"></h5>
        <div class="flexbox mb-4">
            <div class="flexbox">
                <span class="mr-4 static-badge badge-pink"><i class="la la-pencil"></i></span>
                <div>
                    <h5 class="font-strong">Category</h5>
                    <div class="text-light">Found <!--Model.Count()--> Pages</div>
                </div>
                <div class="ml-4">
                    <a asp-action="Create" class="btn btn-success">Add Page</a>
                </div>
            </div>
            <div class="input-group-icon input-group-icon-left mr-3">
                <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text" placeholder="Search ...">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="pageListDT">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>Page Name</th>
                        <th>Page Title</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                @*<tbody>
                    @if (Model?.Count() > 0)
                    {
                        @foreach (var sPage in Model)
                        {
                            <tr>
                                <td>
                                    @sPage.PageName
                                </td>
                                <td>
                                    @sPage.Title
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="update" asp-route-id="@sPage.Id">
                                        <i class="la la-pencil"></i>
                                        <span>
                                            Edit
                                        </span>
                                    </a>
                                    <a class="btn btn-danger" href="javascript:;" data-toggle="modal" data-target="#delete-page-modal-@sPage.Id">
                                        <i class="ti-trash"></i>
                                        <span>
                                            Delete
                                        </span>
                                    </a>
                                    @Html.Partial("_DeletePageModalPartial", new PageViewModel { Id = sPage.Id, PageName = sPage.PageName})
                                </td>
                            </tr>
                        }

                    } else
                    {
                        <tr>
                            <td>
                                No Pages
                            </td>
                        </tr>
                    }
                </tbody>*@
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/assets/js/Module/page.js"></script>
}