<li>
    <a asp-controller="Account" asp-action="Register" class="nav-link link">
        Register
    </a>
</li>
<li>
    <a asp-controller="Account" asp-action="login" class="nav-link link">
        Login
    </a>
</li>