@model PostViewModel

<div class="modal fade" id="publish-post-modal">
    <div class="modal-dialog" style="width:400px;" role="document">
        <div class="modal-content timeout-modal">
            <div class="modal-body">
                <button class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="text-center h3 mb-3">Are you sure you want to publish?</div>
                <form asp-action="Publish" method="post">
                    <div id="timeout-activate-box">
                        <div class="text-center">
                            <input asp-for="Id" hidden />
                            <button type="submit" class="btn btn-primary btn-fix btn-air">Publish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>