@model PostViewModel

@section CSS {
    <link href="~/assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="page-heading">
    <h1 class="page-title">New Blog</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index">Home</a>
        </li>
        @if (Model != null && Model.Id != null)
        {
            <li class="breadcrumb-item"> <a asp-action="Edit">Edit</a> </li>
        } else
        {
            <li class="breadcrumb-item"> <a asp-action="Create">Create</a> </li>
        }
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <form asp-action="@ViewContext.RouteData.Values["action"]" asp-antiforgery="true" class="form-horizontal" id="form-sample-1" method="post" novalidate="novalidate">
                @if (Model != null && Model.Id != null)
                {
                    <input asp-for="Id" hidden />
                }

                <div class="form-group row">
                    <label asp-for="Title" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Excerpt" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Excerpt">
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Content" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Content" name="Content" data-plugin="summernote" class="form-control summernote" data-air-mode="true"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CategoryId" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">

                        <select asp-for="CategoryId" asp-items="@{new SelectList(Model.Categories, "Id", "CategoryName", selectedValue: Model.CategoryId)}" class="selectpicker show-tick form-control" title="Please select" data-style="btn-solid"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PostTags" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select asp-for="PostTags" asp-items="@{new SelectList(Model.Tags, "Id", "Name")}" class="form-control select2-tag" multiple=""></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section JS {
    <script src="~/assets/vendors/select2/dist/js/select2.full.min.js" rel="stylesheet"></script>
}