@model Tag

<div class="page-heading">
    <h1 class="page-title">New Tag</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index">Tag</a>
        </li>
        @if (Model != null && Model.Id != null)
        {
            <li class="breadcrumb-item"> <a asp-action="Edit">Edit</a> </li>
        } else
        {
            <li class="breadcrumb-item"> <a asp-action="Create">Create</a> </li>
        }
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <form asp-action="@ViewContext.RouteData.Values["action"]" class="form-horizontal" id="form-sample-1" method="post" novalidate="novalidate">
                @if (Model != null && Model.Id != null)
                {
                    <input asp-for="Id" hidden />
                }

                <div class="form-group row @(ViewData.ModelState["TagName"] != null? "has-error" : "")">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="help-block"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section JS {
    <link href="~/assets/vendors/select2/dist/js/select2.full.min.js" rel="stylesheet" />
}